# Eclipse
Debug
Release
.launch

.metadata/*
!.metadata/.plugins/

.metadata/.plugins/*
!.metadata/.plugins/org.eclipse.core.runtime/

.metadata/.plugins/org.eclipse.core.runtime/*
!.metadata/.plugins/org.eclipse.core.runtime/.settings/

#except preference files
