BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 80
UseTab: Never
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
